DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stocksense?schema=public"
SESSION_SECRET="replace-with-a-random-secret-at-least-32-characters-long"
GMAIL_USER="anshu290290@gmail.com"
GMAIL_APP_PASSWORD="acjj saje uxqc rxlw"
PORT=4000
NODE_ENV=development
